.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.logo-main {
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.logo-main ul {
  gap: 60px;
  display: flex;
}

.logo-main ul li {
  list-style-type: none;
}
.Ordered-list {
  background: #282D35;
  padding: 30px;
}

.Ordered-list h2 {
  font-size: 34px;
  color: #fff;
}
.Ordered-list ul li {
  color: #fff;
  font-size: 18px;
  line-height: 40px;
}

.Ordered-list ::marker {
  color: #61DAFB;
  font-size:20px;
}
.logo-main img.Logo {
  width: 180px;
}
.logo-main h3 {
  color: #fff;
}
.Ordered-list{
background-image: url('./reactjs-icon\ 2.png');
background-repeat: no-repeat;
    background-position: center right;
}
header.main-header {
  padding: 20px 30px;
  background: #21222A;
}
.Footer-main h3 {
  text-align: center;
  margin: 0px;
  padding: 10px;
  color: #fff;
}


.Footer-main {
  background: #21222A;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
